Package: edgeinx
Version: {{ VERSION }}
Architecture: amd64
Provides: nginx
Conflicts: nginx
Essential: no
Section: web
Depends: libmaxminddb0, libssl-dev
Priority: optional
Maintainer: Galen Guyer <galen@galenguyer.com>
Installed-Size: 96
Description: Statically linked NGINX binary
